extends layout

block content
	h1= title
	p Welcome to #{title}
	if (message)
		p= message
	form(method="POST")
		input(name="subreddit",placeholder="album URL")
		input(type="submit")
	if images
		each image in images
			img.cat-thumb(src="/thumbs/" + subreddit + '/' + image.link , data-hash=image.hash, data-score=image.score)
